<div class="row rounded">
    <div class="form-group mb-3 col-2 shadow-none">
        <label class="input-group-text bg-secondary text-white fw-bolder rounded" for="Category">Category</label>
        <select class="form-select shadow-none" id="Category" name="Category">
        <option selected value="Technology">Technology</option>
        <option value="Programming">Programming</option>
        <option value="DevOps">DevOps</option>
        <option value="Statistics">Statistics</option>
        </select>
    </div>
</div>